body, body * {
  all: unset;
}

body {
  background: black;
}

.main {
  display: block;
}

.bar {
  display: flex;
  position: absolute;
  height: 5rem;
  width: 100%;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: space-around;
}

.turnnumber {
  font-size: 3rem;
  color: white;
}

.turndisp {
  font-weight: bold;
}

.player {
  font-size: 3rem;
  color: white;
}

.playerdisp {
  font-weight: bold;
}

.ap {
  font-size: 3rem;
  color: white;
}

.apdisp {
  font-weight: bold;
}

.endTurn {
  font-size: 2rem;
  color: white;
  padding: 0.5rem;
  border: solid white 0.3rem;
  cursor: pointer;
}

.endTurn:hover, .endTurn:focus {
  background-color: white;
  color: black;
}

.titlewrapper {
  display: flex;
  position: absolute;
  inset: 0;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

h1 {
  display: block;
  text-align: center;
  font-size: 5rem;
  color: white;
  padding: 2rem;
}

h2 {
  display: block;
  text-align: center;
  font-size: 4rem;
  color: white;
  padding: 2rem;
}

.winnerdisp {
  font-weight: bold;
}

.options {
  color: white;
  font-size: 3rem;
}

.options input {
  display: inline-block;
  text-align: center;
  width: 8rem;
  border-bottom: solid white 0.6rem;
}

.play {
  display: block;
  font-size: 4rem;
  color: white;
  padding: 1rem;
  border: solid white 0.6rem;
  cursor: pointer;
}

.play:hover, .play:focus {
  background-color: white;
  color: black;
}